# Python Tutorial 4: Introduction to Pandas

## Import packages

In [2]:
import numpy as np
import pandas as pd

## 1 Series and Data Frames

## 1.1 Series objects

A `Series` is like a vector. All elements must have the same type or are nulls.

In [3]:
s = pd.Series([1,1,2,3])
s

0    1
1    1
2    2
3    3
dtype: int64

### Size

In [4]:
s.size

4

### Unique Counts

In [5]:
s.value_counts()

1    2
3    1
2    1
dtype: int64

### Special types of series

### String

In [6]:
# string -> list of words
words = 'Iris-setosa'.split('-') 
words

['Iris', 'setosa']

In [7]:
s1 = ['Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor']
s1

['Iris-setosa',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-versicolor']

In [8]:
s1 = pd.Series(s1)
s1 # the quick, quick brown

0        Iris-setosa
1        Iris-setosa
2     Iris-virginica
3    Iris-versicolor
4    Iris-versicolor
dtype: object

In [9]:
s10 = s1.str.split('-') # using str to tell the series is of string type
s10

0        [Iris, setosa]
1        [Iris, setosa]
2     [Iris, virginica]
3    [Iris, versicolor]
4    [Iris, versicolor]
dtype: object

In [10]:
s11 = s10.str[1] # indexing should also include 'str'
s11

0        setosa
1        setosa
2     virginica
3    versicolor
4    versicolor
dtype: object

In [11]:
s12 = s11.str.upper() 
s12

0        SETOSA
1        SETOSA
2     VIRGINICA
3    VERSICOLOR
4    VERSICOLOR
dtype: object

#### Other string methods
[Python String Methods-W3School](https://www.w3schools.com/python/python_ref_string.asp)

### Category

In [12]:
s2 = s11
s2

0        setosa
1        setosa
2     virginica
3    versicolor
4    versicolor
dtype: object

#### convert strings into categories

In [13]:
s2 = s2.astype('category')
s2

0        setosa
1        setosa
2     virginica
3    versicolor
4    versicolor
dtype: category
Categories (3, object): [setosa, versicolor, virginica]

#### convert categories into interger codes

In [14]:
s2.cat.codes #just like str for strng we use cat to indicate this series contains categorical data

0    0
1    0
2    2
3    1
4    1
dtype: int8

#### If you want a pre-specified order

In [15]:
s2 = s2.cat.reorder_categories(['setosa', 'virginica', 'versicolor'])

In [16]:
s2.cat.codes

0    0
1    0
2    1
3    2
4    2
dtype: int8

### Timestamp

In [ ]:
# create a consecutive sequence of integers
[i for i in range(0, 3, 1)] #start,end,step

In [17]:
# create a consecutive sequence of timestamps
s3 = pd.date_range('2019-10-21', periods = 3, freq='d') #periods is how many timestamps we need
s3

DatetimeIndex(['2019-10-21', '2019-10-22', '2019-10-23'], dtype='datetime64[ns]', freq='D')

In [18]:
s3.year

Int64Index([2019, 2019, 2019], dtype='int64')

In [19]:
s3.month

Int64Index([10, 10, 10], dtype='int64')

In [20]:
s3.day

Int64Index([21, 22, 23], dtype='int64')

In [21]:
# re-format the timestamp
s3.strftime('%m/%d/%Y')

Index(['10/21/2019', '10/22/2019', '10/23/2019'], dtype='object')

#### Converting string to date_time

In [22]:
s4 = pd.Series(['2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25'])
s4

0    2019-10-21
1    2019-10-22
2    2019-10-23
3    2019-10-24
4    2019-10-25
dtype: object

In [23]:
s4[4] - s4[0]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
s4 = pd.to_datetime(s4) #useful when dealing with time series data
s4

0   2019-10-21
1   2019-10-22
2   2019-10-23
3   2019-10-24
4   2019-10-25
dtype: datetime64[ns]

In [25]:
s4[4] - s4[0]

Timedelta('4 days 00:00:00')

## 1.2  DataFrame objects

A `DataFrame` is like a matrix. Columns in a `DataFrame` are `Series`.

- Each column in a DataFrame represents a **variale**
- Each row in a DataFrame represents an **observation**
- Each cell in a DataFrame represents a **value**

## 1.2.1 Creating Data Frames

### From `Dict`

In [27]:
from collections import OrderedDict

In [28]:
# feed the data into DataFrame by column
data_dict = OrderedDict(Id=[1,2,3,4,5], 
                        SepalLengthCm=[5.1, 4.9, 4.7, 4.6, 5.0],
                        SepalWidthCm=[3.5, 3.0, 3.2, 3.1, 3.6],
                        PetalLengthCm=[1.4, 1.4, 1.3, 1.5, 1.4],
                        PetalWidthCm=[0.2, 0.2, 0.2, 0.2, 0.2],
                        Species=['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa']
                        )
df = pd.DataFrame(data=data_dict)
df

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### From `numpy.ndarray`

In [29]:
# feed the data into DataFrame by list rows
vals = np.array([
[1,5.1,3.5,1.4,0.2,'Iris-setosa'],
[2,4.9,3.0,1.4,0.2,'Iris-setosa'],
[3,4.7,3.2,1.3,0.2,'Iris-setosa'],
[4,4.6,3.1,1.5,0.2,'Iris-setosa'],
[5,5.0,3.6,1.4,0.2,'Iris-setosa']])
vals

array([['1', '5.1', '3.5', '1.4', '0.2', 'Iris-setosa'],
       ['2', '4.9', '3.0', '1.4', '0.2', 'Iris-setosa'],
       ['3', '4.7', '3.2', '1.3', '0.2', 'Iris-setosa'],
       ['4', '4.6', '3.1', '1.5', '0.2', 'Iris-setosa'],
       ['5', '5.0', '3.6', '1.4', '0.2', 'Iris-setosa']], dtype='<U32')

In [30]:
df = pd.DataFrame(data=vals, columns=['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']) # specifiy the names of columns
df

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0  1           5.1          3.5           1.4          0.2  Iris-setosa
1  2           4.9          3.0           1.4          0.2  Iris-setosa
2  3           4.7          3.2           1.3          0.2  Iris-setosa
3  4           4.6          3.1           1.5          0.2  Iris-setosa
4  5           5.0          3.6           1.4          0.2  Iris-setosa

### From File

You can read in data from many different file types - plain text, JSON, spreadsheets, databases etc. Functions to read in data look like `read_X` where X is the data type.

#### [read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [41]:
iris = pd.read_csv('iris.csv')
#iris
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

There are numerous **parameters** for `read_csv()`. Those frequently used are listed below:

- **sep** : str, default ‘,’
Delimiter to use. Other example: '\t', ' '.

- **header** : int, list of int, default ‘infer’
Row number(s) to use as the column names, and the start of the data. Default behavior is to infer the column names: if no names are passed the behavior is identical to header=0 and column names are inferred from the first line of the file, if column names are passed explicitly then the behavior is identical to header=None. 

- **names** : array-like, optional
List of column names to use. If file contains no header row, then you should explicitly pass header=None. Duplicates in this list are not allowed.

- **skiprows** : list-like or int, optional
Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file.

- **skipfooter** : int, default 0
Number of lines at bottom of file to skip

- **nrows** : int, optional
Number of rows of file to read. Useful for reading pieces of large files.

## 1.2.2 Structure of a Data Frame

### Basic properties

In [42]:
iris.shape

(150, 6)

In [43]:
len(iris) #number of rows

150

In [44]:
iris.size # number of cells

900

In [45]:
iris.describe() #gives a lot of descriptive statistics of all the columns

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

### Inspection

In [46]:
iris.head(n=3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [47]:
iris.tail(n=3) #last 3 observations

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [48]:
iris.sample(n=3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
6,7,4.6,3.4,1.4,0.3,Iris-setosa
107,108,7.3,2.9,6.3,1.8,Iris-virginica
22,23,4.6,3.6,1.0,0.2,Iris-setosa

### Check Data types

In [49]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [50]:
iris['Species'] = iris['Species'].astype('category') # 'float', 'object', etc. #converting species column to category type

In [51]:
iris.dtypes

Id                  int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

### Index 

Row and column identifiers are of `Index` type.

### Row Index

In [52]:
# get row identifiers
iris.index

RangeIndex(start=0, stop=150, step=1)

#### Setting a column as the row index

In [53]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [54]:
iris1 = iris.set_index('Id')
iris1.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

#### Making an index into a column

In [55]:
iris1.reset_index().head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Column Index

This is just a different index object

In [56]:
# get column identifiers
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### Getting values

Sometimes you just want a `numpy` array, and not a `pandas` object.

In [57]:
iris.head().values

array([[1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'],
       [2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
       [3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'],
       [5, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa']], dtype=object)

## Indexing DataFrames

### Implicit defaults

if you provide a slice, it is assumed that you are asking for **rows**.

- starting index: included
- ending index: excluded

In [58]:
a = [1,2,3,4]
a[:3]

[1, 2, 3]

In [59]:
iris[:3] # return row 1, 2

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

If you provide a singe value or list, it is assumed that you are asking for **columns**.

In [60]:
iris[['Id', 'SepalLengthCm']].head()

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7
3   4            4.6
4   5            5.0

Create a sample dataframe from `iris`

In [61]:
iris_sample = iris[:5]
iris_sample

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Extracting a column

#### Dictionary style access

#### Property style access

This only works for column names tat are also valid Python identifier (i.e., no spaces or dashes or keywords)

In [62]:
iris_sample.Id

0    1
1    2
2    3
3    4
4    5
Name: Id, dtype: int64

In [63]:
iris_sample['Id']

0    1
1    2
2    3
3    4
4    5
Name: Id, dtype: int64

### Indexing by location: `iloc[,]`

This is similar to `numpy` indexing

In [64]:
iris_sample.iloc[1:3, 2:5]

   SepalWidthCm  PetalLengthCm  PetalWidthCm
1           3.0            1.4           0.2
2           3.2            1.3           0.2

In [65]:
iris_sample.iloc[1:3, [0, 2]]

   Id  SepalWidthCm
1   2           3.0
2   3           3.2

### Indexing by conditions & names: `loc[,]`

In [66]:
# return all rows with SepalLengthCm >=4.9 and all columns
iris_sample.loc[iris_sample['SepalLengthCm'] >= 4.9, :] #before the comma we write the condition by which we want to filter the dataset

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [67]:
# return all rows and column 'Id', 'SepalLengthCm' 
iris_sample.loc[:, ['Id', 'SepalLengthCm']] # starting & ending indices are both included

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7
3   4            4.6
4   5            5.0

### What if I pass in a location when using `loc`?

**Warning**: 
You don't want to do this

In [68]:
iris_sample.iloc[:3, :] # 1:3 == [0, 1, 2]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [69]:
iris_sample.loc[:3, :] # 1:3 == [0, 1, 2, 3] ???

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa

In [70]:
iris_temp = iris_sample.set_index('SepalLengthCm')
iris_temp

               Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
SepalLengthCm
5.1             1           3.5            1.4           0.2  Iris-setosa
4.9             2           3.0            1.4           0.2  Iris-setosa
4.7             3           3.2            1.3           0.2  Iris-setosa
4.6             4           3.1            1.5           0.2  Iris-setosa
5.0             5           3.6            1.4           0.2  Iris-setosa

In [71]:
iris_temp.iloc[:3, :] # return first 3 rows

               Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
SepalLengthCm
5.1             1           3.5            1.4           0.2  Iris-setosa
4.9             2           3.0            1.4           0.2  Iris-setosa
4.7             3           3.2            1.3           0.2  Iris-setosa

In [72]:
iris_temp.loc[:3, :] # error

KeyError: 3.0

In [73]:
iris_temp.loc[[5.1, 4.9, 4.7], :] # loc[] can only select rows by index, not positon

               Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
SepalLengthCm
5.1             1           3.5            1.4           0.2  Iris-setosa
4.9             2           3.0            1.4           0.2  Iris-setosa
4.7             3           3.2            1.3           0.2  Iris-setosa

## Next Time: Data Manipulations with Pandas

## Reference
[Pandas Official Documentation](https://pandas.pydata.org/pandas-docs/version/0.25/index.html#)

[Pandas Cheat Sheet](http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

[Pandas Tutorials](https://pandas.pydata.org/pandas-docs/version/0.15/tutorials.html)